/* ==========================================================================
Landing Page settings including media queries
========================================================================== */

.video-background-wrapper{
    width: 100vw; /* Could also use width: 100%; */
    height: 100vh;
    object-fit: cover;
    position: fixed;   
    left: 0px;
    top: 0px;
    z-index: -1;
}

.header-wrapper{

}

.logo-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    grid-auto-rows: 1fr;
}

.logo-wrapper>.logo{
    grid-column: 2/3;
    grid-row: 2;
    justify-self: end;
}

.logo{
    max-width: 5rem;
}

.logo-wrapper>h1{
    grid-column: 1;
    grid-row: 1;
    grid-column-span:2;
    column-span: 2;
    color: white;
}
/*

@media screen and (max-height: 1024) {
    .logo-wrapper-placement>li{
        grid-column: 2/3;
        grid-row: 3;
        justify-self: end;
    }   
}
*/
